<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<object th:include="fragments/fragment :: header" th:remove="tag"></object>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		<h3 th:text="Dealer"></h3>
		<p th:text="'Alamat: ' + ${dealer.alamat}"></p>
		<p th:text="'Nomor telepon: ' + ${dealer.noTelp}"></p>
		<form th:action="@{/dealer/delete}">
			<input type="hidden" name="dealerId" th:value="${dealer.id}">
			<button type="submit"> Hapus Dealer</button>
		</form>
		<br>
		<form th:action="@{/car/delete}" th:object="${dealer}" method="POST">
			<table>
				<thead>
				<tr>
					<th>No.</th>
					<th>Brand</th>
					<th>Type</th>
					<th>Price</th>
					<th>Amount</th>
					<th>Aksi</th>
				</tr>
				</thead>
				<tbody>
					<tr th:each="car,iterationStatus : *{listCar}">
						<td th:text="${iterationStatus.count}"> </td>
						<td th:text="${car.brand}"> </td>
						<td th:text="${car.type}"> </td>
						<td th:text="${car.price} >= 1000000000 ? 'Diatas 1M' : 'Dibawah 1M'"> </td>
						<td th:text="${car.amount}"> </td>
						<td>
							<input type="checkbox" th:field="*{listCar}" th:value="${car.id}"/>
							<label th:for="${#ids.prev('listCar')}">Hapus</label>
						</td>
					</tr>
				</tbody>
			</table>
			<button type="submit">Hapus yang dipilih</button>
		</form>
		<br>
		<form th:action="@{/car/add/} + ${dealer.id}">
			<button type="submit">Tambah Mobil</button>
		</form>
	</body>
	
	<!-- 
		<div th:each ="car:${dealer.listCar}">
		______________________________________________________________
			<h3 th:text="'id Mobil: '+${car.id}"></h3>	
			<h3 th:text="'brand: '+${car.brand}"></h3>
			<h3 th:text="'tipe: '+${car.type}"></h3>
			<h3 th:text="'harga: '+${car.price}"></h3>		
			<h3 th:text="'jumlah: '+${car.amount}"></h3>

			<a th:href="@{/car/update/{carId}(carId=${car.id})}">update this car</a>		
			<a th:href="@{/car/delete/{carId}(carId=${car.id})}">Delete this car</a>
			
			
		</div>
		______________________________________________________________
		<br>
		
		<a th:href="@{/car/add/{id}(id=${dealer.id})}">Add car</a>		
		<br>
		<br>
		
		
		<a th:href="@{/dealer/update/{id}(id=${dealer.id})}">update this dealer</a>
		<a th:href="@{/dealer/delete/{id}(id=${dealer.id})}">Delete this dealer</a>
				
	</body>
	 -->
</html>